.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.5s, opacity 0.5s linear;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}

.modal__container {
  background-color: #fff;
  padding: 32px 50px;
  max-width: 730px;
  position: relative;
  width: 100%;
  box-sizing: border-box;
  border-radius: 8px;
  transform: translateY(-50px);
  transition: transform 0.5s ease;
}

.modal_opened .modal__container {
  transform: translateY(0);
}

.modal__container_type_preview {
  padding: 0;
  background: transparent;
  width: unset;
  max-width: unset;
}

.modal__image {
  width: 100%;
  object-fit: contain;
  max-width: 80vw;
  max-height: 80vh;
  border-radius: 8px;
}

.modal__caption {
  color: #fff;
  background-color: #212121;
  height: fit-content;
  width: fit-content;
  border-radius: 8px;
  font-family: Poppins;
  line-height: 120%;
  font-weight: 500;
  font-size: 20px;
  padding: 4px 8px;
  margin: 8px 0px;
}

.modal__close-btn {
  position: absolute;
  top: 32px;
  right: 50px;
  width: 40px;
  height: 40px;
  opacity: 40%;
  border: none;
  background-color: transparent;
  padding: 0;
}

.modal__close-btn_type_preview {
  background-image: url("../images/Close_Icon_preview.svg");
  top: 0;
  right: -52.5px;
  opacity: 1;
}

.modal__close-btn:hover {
  opacity: 100%;
  cursor: pointer;
}

.modal__close-btn_type_preview:hover {
  opacity: 40%;
}

.modal__title {
  margin: 0 0 32px;
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
}

.modal__label {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 32px;
  color: #212121b2;
}

.modal__input {
  padding: 16px 12px;
  border-radius: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1;
  border: 1px solid #21212166;
}

.modal__input:hover {
  border: 1px solid #212121;
}

.modal__submit-btn {
  width: 156px;
  padding: 18px 0;
  background-color: #000;
  color: #fcf5e5;
  border-radius: 8px;
}

.modal__submit-btn:hover {
  cursor: pointer;
}

@media screen and (max-width: 627px) {
  .modal {
    padding: 0 10px;
  }

  .modal__container {
    padding: 12px;
  }

  .modal__title {
    font-size: 20px;
    margin: 10px 0 34px;
  }

  .modal__close-btn {
    top: 12px;
    right: 12px;
  }

  .modal__input {
    font-size: 16px;
  }

  .modal__label {
    margin-bottom: 24px;
  }

  .modal__submit-btn {
    width: 100%;
  }

  .modal__close-btn_type_preview {
    top: -30px;
    right: 16px;
  }
}

@media (max-width: 320px) {
  .modal__image {
    width: 288px;
    max-width: none;
    max-height: none;
    border-radius: 4px;
  }

  .modal__caption {
    font-size: 16px;
  }

  .modal__close-btn_type_preview {
    position: absolute;
    top: -30px;
    right: 16px;
  }
}
